#Created by Constraints Editor (xc6slx9-tqg144-3) - 2012/11/05
NET "CLK" TNM_NET = CLK;
TIMESPEC TS_CLK = PERIOD "CLK" 50 MHz HIGH 50%;

# PlanAhead Generated physical constraints 
NET "CLK" LOC = P56;
NET "nRESET" LOC = P38;

NET "led<0>" LOC = P134 | IOSTANDARD = LVTTL;
NET "led<1>" LOC = P133 | IOSTANDARD = LVTTL;
NET "led<2>" LOC = P132 | IOSTANDARD = LVTTL;
NET "led<3>" LOC = P131 | IOSTANDARD = LVTTL;
NET "led<4>" LOC = P127 | IOSTANDARD = LVTTL;
NET "led<5>" LOC = P126 | IOSTANDARD = LVTTL;
NET "led<6>" LOC = P124 | IOSTANDARD = LVTTL;
NET "led<7>" LOC = P123 | IOSTANDARD = LVTTL;

NET "UART_RX_PINS<0>" LOC = P40 | IOSTANDARD = LVTTL;
NET "UART_RX_PINS<1>" LOC = P32 | IOSTANDARD = LVTTL;
#NET "UART_RX_PINS<2>" LOC = P7 | IOSTANDARD = LVTTL;
#NET "UART_RX_PINS<3>" LOC = P9 | IOSTANDARD = LVTTL;

NET "UART_TX_PINS<0>" LOC = P50 | IOSTANDARD = LVTTL;
NET "UART_TX_PINS<1>" LOC = P34 | IOSTANDARD = LVTTL;
#NET "UART_TX_PINS<2>" LOC = P8 | IOSTANDARD = LVTTL;
#NET "UART_TX_PINS<3>" LOC = P10 | IOSTANDARD = LVTTL;