//! **************************************************************************
// Written by: Map P.20131013 on Sat Mar 26 17:43:26 2016
//! **************************************************************************

SCHEMATIC START;
COMP "CLK" LOCATE = SITE "P56" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P134" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P133" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P132" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P131" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P127" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P126" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P124" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P123" LEVEL 1;
COMP "UART_RX_PINS<0>" LOCATE = SITE "P40" LEVEL 1;
COMP "UART_RX_PINS<1>" LOCATE = SITE "P32" LEVEL 1;
COMP "nRESET" LOCATE = SITE "P38" LEVEL 1;
COMP "UART_TX_PINS<0>" LOCATE = SITE "P50" LEVEL 1;
COMP "UART_TX_PINS<1>" LOCATE = SITE "P34" LEVEL 1;
PIN GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/Mram_fifo_pins<20> = BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/Mram_fifo" PINNAME CLKAWRCLK;
PIN GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/Mram_fifo_pins<21> = BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/Mram_fifo" PINNAME CLKBRDCLK;
PIN GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/Mram_fifo_pins<20> = BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/Mram_fifo" PINNAME CLKAWRCLK;
PIN GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/Mram_fifo_pins<21> = BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/Mram_fifo" PINNAME CLKBRDCLK;
PIN GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/Mram_fifo_pins<20> = BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/Mram_fifo" PINNAME CLKAWRCLK;
PIN GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/Mram_fifo_pins<21> = BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/Mram_fifo" PINNAME CLKBRDCLK;
PIN GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/Mram_fifo_pins<20> = BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/Mram_fifo" PINNAME CLKAWRCLK;
PIN GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/Mram_fifo_pins<21> = BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/Mram_fifo" PINNAME CLKBRDCLK;
TIMEGRP CLK = BEL "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo_packet_counter_6" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo_packet_counter_5" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo_packet_counter_4" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo_packet_counter_3" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo_packet_counter_2" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo_packet_counter_1" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/state_FSM_FFd2" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/payload_counter_2" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/payload_counter_1" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/payload_counter_0" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/state_FSM_FFd1" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/payload_length_2" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/payload_length_1" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/payload_length_0" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/PACKET_READY" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/new_packet_added2" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/new_packet_added_rising" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/new_packet_added" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo_packet_counter_6" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo_packet_counter_5" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo_packet_counter_4" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo_packet_counter_3" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo_packet_counter_2" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo_packet_counter_1" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/state_FSM_FFd2" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/payload_counter_2" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/payload_counter_1" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/payload_counter_0" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/state_FSM_FFd1" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/payload_length_2" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/payload_length_1" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/payload_length_0" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/PACKET_READY" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/new_packet_added2" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/new_packet_added_rising" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/new_packet_added" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/size_t_6" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/size_t_5" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/size_t_3" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/size_t_2" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/next_empty_6" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/next_empty_5" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/next_out_4" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/next_out_3" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/next_empty_4" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/next_empty_3" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/next_empty_2" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/next_empty_1" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/next_empty_0" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/size_t_6" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/size_t_5" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/size_t_3" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/size_t_2" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/next_empty_6" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/next_empty_5" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/next_out_4" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/next_out_3" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/next_empty_4" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/next_empty_3" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/next_empty_2" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/next_empty_1" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/next_empty_0" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/HAS_DATA" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/size_t_6" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/size_t_5" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/size_t_3" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/size_t_2" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/next_empty_6" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/next_empty_5" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/next_out_4" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/next_out_3" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/next_empty_4" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/next_empty_3" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/next_empty_2" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/next_empty_1" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/next_empty_0" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/size_t_6" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/size_t_5" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/size_t_3" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/size_t_2" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/next_empty_6" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/next_empty_5" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/next_out_4" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/next_out_3" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/next_empty_4" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/next_empty_3" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/next_empty_2" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/next_empty_1" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/next_empty_0" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/HAS_DATA" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/uart_interface_inst/clock_counter_4"
        BEL
        "GEN_UARTS[0].UART_CONTROLLERS/uart_interface_inst/clock_counter_3"
        BEL
        "GEN_UARTS[0].UART_CONTROLLERS/uart_interface_inst/clock_counter_2"
        BEL
        "GEN_UARTS[0].UART_CONTROLLERS/uart_interface_inst/clock_counter_1"
        BEL
        "GEN_UARTS[0].UART_CONTROLLERS/uart_interface_inst/clock_counter_0"
        BEL "GEN_UARTS[0].UART_CONTROLLERS/uart_interface_inst/uart_rx_valid2"
        BEL
        "GEN_UARTS[0].UART_CONTROLLERS/uart_interface_inst/uart_data_taken2"
        BEL "GEN_UARTS[1].UART_CONTROLLERS/uart_interface_inst/uart_rx_valid2"
        BEL
        "GEN_UARTS[1].UART_CONTROLLERS/uart_interface_inst/uart_data_taken2"
        BEL "switch_engine_inst/payload_counter_1" BEL
        "switch_engine_inst/state_FSM_FFd1" BEL
        "switch_engine_inst/state_FSM_FFd2" BEL
        "switch_engine_inst/state_FSM_FFd3" BEL
        "switch_engine_inst/state_FSM_FFd4" BEL
        "switch_engine_inst/payload_counter_2" BEL
        "switch_engine_inst/payload_counter_0" BEL
        "switch_engine_inst/state_clock_counter_2" BEL
        "switch_engine_inst/state_clock_counter_1" BEL
        "switch_engine_inst/state_clock_counter_0" BEL
        "switch_engine_inst/PORT_OUT_VALID_1" BEL
        "switch_engine_inst/PORT_OUT_VALID_0" BEL
        "switch_engine_inst/PORT_OUT_DATA_0_7" BEL
        "switch_engine_inst/PORT_OUT_DATA_0_6" BEL
        "switch_engine_inst/PORT_OUT_DATA_0_5" BEL
        "switch_engine_inst/PORT_OUT_DATA_0_4" BEL
        "switch_engine_inst/PORT_OUT_DATA_0_3" BEL
        "switch_engine_inst/PORT_OUT_DATA_0_2" BEL
        "switch_engine_inst/PORT_OUT_DATA_0_1" BEL
        "switch_engine_inst/PORT_OUT_DATA_0_0" BEL
        "switch_engine_inst/PORT_OUT_DATA_1_7" BEL
        "switch_engine_inst/PORT_OUT_DATA_1_6" BEL
        "switch_engine_inst/PORT_OUT_DATA_1_5" BEL
        "switch_engine_inst/PORT_OUT_DATA_1_4" BEL
        "switch_engine_inst/PORT_OUT_DATA_1_3" BEL
        "switch_engine_inst/PORT_OUT_DATA_1_2" BEL
        "switch_engine_inst/PORT_OUT_DATA_1_1" BEL
        "switch_engine_inst/PORT_OUT_DATA_1_0" BEL
        "switch_engine_inst/payload_0_7" BEL "switch_engine_inst/payload_0_6"
        BEL "switch_engine_inst/payload_0_5" BEL
        "switch_engine_inst/payload_0_4" BEL "switch_engine_inst/payload_0_3"
        BEL "switch_engine_inst/payload_0_2" BEL
        "switch_engine_inst/payload_0_1" BEL "switch_engine_inst/payload_0_0"
        BEL "switch_engine_inst/payload_1_7" BEL
        "switch_engine_inst/payload_1_6" BEL "switch_engine_inst/payload_1_5"
        BEL "switch_engine_inst/payload_1_4" BEL
        "switch_engine_inst/payload_1_3" BEL "switch_engine_inst/payload_1_2"
        BEL "switch_engine_inst/payload_1_1" BEL
        "switch_engine_inst/payload_1_0" BEL "switch_engine_inst/LED_7" BEL
        "switch_engine_inst/LED_6" BEL "switch_engine_inst/LED_5" BEL
        "switch_engine_inst/LED_4" BEL "switch_engine_inst/LED_3" BEL
        "switch_engine_inst/LED_2" BEL "switch_engine_inst/LED_1" BEL
        "switch_engine_inst/LED_0" BEL "switch_engine_inst/payload_2_7" BEL
        "switch_engine_inst/payload_2_6" BEL "switch_engine_inst/payload_2_5"
        BEL "switch_engine_inst/payload_2_4" BEL
        "switch_engine_inst/payload_2_3" BEL "switch_engine_inst/payload_2_2"
        BEL "switch_engine_inst/payload_2_1" BEL
        "switch_engine_inst/payload_2_0" BEL "switch_engine_inst/payload_3_7"
        BEL "switch_engine_inst/payload_3_6" BEL
        "switch_engine_inst/payload_3_5" BEL "switch_engine_inst/payload_3_4"
        BEL "switch_engine_inst/payload_3_3" BEL
        "switch_engine_inst/payload_3_2" BEL "switch_engine_inst/payload_3_1"
        BEL "switch_engine_inst/payload_3_0" BEL
        "switch_engine_inst/len_sum_field_7" BEL
        "switch_engine_inst/len_sum_field_6" BEL
        "switch_engine_inst/len_sum_field_5" BEL
        "switch_engine_inst/len_sum_field_4" BEL
        "switch_engine_inst/len_sum_field_3" BEL
        "switch_engine_inst/len_sum_field_2" BEL
        "switch_engine_inst/len_sum_field_1" BEL
        "switch_engine_inst/len_sum_field_0" BEL
        "switch_engine_inst/from_address_7" BEL
        "switch_engine_inst/from_address_6" BEL
        "switch_engine_inst/from_address_5" BEL
        "switch_engine_inst/from_address_4" BEL
        "switch_engine_inst/from_address_3" BEL
        "switch_engine_inst/from_address_2" BEL
        "switch_engine_inst/from_address_1" BEL
        "switch_engine_inst/from_address_0" BEL
        "switch_engine_inst/to_address_7" BEL
        "switch_engine_inst/to_address_6" BEL
        "switch_engine_inst/to_address_5" BEL
        "switch_engine_inst/to_address_4" BEL
        "switch_engine_inst/to_address_3" BEL
        "switch_engine_inst/to_address_2" BEL
        "switch_engine_inst/to_address_1" BEL
        "switch_engine_inst/to_address_0" BEL
        "switch_engine_inst/PORT_IN_DATA_TAKEN_1" BEL
        "switch_engine_inst/PORT_IN_DATA_TAKEN_0" BEL
        "switch_engine_inst/payload_length_2" BEL
        "switch_engine_inst/payload_length_1" BEL
        "switch_engine_inst/payload_length_0" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/uart_interface_inst/uart_clock" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/uart_interface_inst/NEW_DATA_TAKEN" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/uart_interface_inst/VALID" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/uart_interface_inst/NEW_DATA_TAKEN" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/uart_interface_inst/VALID" BEL
        "switch_engine_inst/port_select_0_0" BEL
        "switch_engine_inst/port_lookup_out_0" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo_packet_counter_0" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo_packet_counter_0" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/size_t_4" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/size_t_1" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/size_t_0" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/next_out_6" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/next_out_5" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/next_out_2" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/next_out_1" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/next_out_0" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/size_t_4" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/size_t_1" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/size_t_0" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/next_out_6" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/next_out_5" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/next_out_2" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/next_out_1" BEL
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/next_out_0" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/size_t_4" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/size_t_1" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/size_t_0" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/next_out_6" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/next_out_5" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/next_out_2" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/next_out_1" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/next_out_0" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/size_t_4" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/size_t_1" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/size_t_0" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/next_out_6" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/next_out_5" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/next_out_2" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/next_out_1" BEL
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/next_out_0" BEL
        "switch_engine_inst/payload_counter_1_1" BEL
        "switch_engine_inst/PORT_IN_PACKET_REMOVED_1" BEL
        "switch_engine_inst/PORT_IN_PACKET_REMOVED_0" BEL
        "switch_engine_inst/payload_counter_0_1" BEL "CLK_BUFGP/BUFG" PIN
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/Mram_fifo_pins<20>" PIN
        "GEN_UARTS[0].UART_CONTROLLERS/rx_fifo/Mram_fifo_pins<21>" PIN
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/Mram_fifo_pins<20>" PIN
        "GEN_UARTS[0].UART_CONTROLLERS/tx_fifo/Mram_fifo_pins<21>" PIN
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/Mram_fifo_pins<20>" PIN
        "GEN_UARTS[1].UART_CONTROLLERS/rx_fifo/Mram_fifo_pins<21>" PIN
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/Mram_fifo_pins<20>" PIN
        "GEN_UARTS[1].UART_CONTROLLERS/tx_fifo/Mram_fifo_pins<21>";
TS_CLK = PERIOD TIMEGRP "CLK" 50 MHz HIGH 50%;
SCHEMATIC END;

